<div class="social">
  <p>
    Email: guyue@gwu.edu &nbsp;&nbsp;&nbsp;
    <a href="../static/info/resume.pdf">CV</a>
    {% if site.email %}
        / <a href="mailto:{{hangwang.ustc@gmail.com}}"><i class="fa fa-envelope"></i></a>
    {% endif %}
    {% if site.linkedin %}
        / <a href="https://www.linkedin.com/in/hang-wang-58596013a/"><i class="fa fa-linkedin"></i></a>
    {% endif %}
    {% if site.github %}
	     / <a href="https://github.com/ustcmike"><i class="fa fa-github"></i></a>
    {% endif %}
  </p>
</div>
